@use "../../../../../Assets/scssSharedStyles/global-variables";

.phone-page-disclaimer {
  display: flex;
  position: relative;
  font-size: 0.9375rem;
  color: global-variables.$neutral-color-800;
  line-height: 1.25;
  margin-bottom: 1rem;
}
