.subtitle-font-size{
  font-size: 0.875rem;
}

.user-email{
  font-weight: 700;
  color: rgb(89, 89, 89);
}
.return-button{
  background-color: white;
  border: 0px;
  cursor: pointer;
}

.return-button-text{
  color: rgb(37, 87, 167);
  user-select: none;
  text-decoration: underline;
  text-align: start;
  &:hover{
    color: rgb(22, 64, 129);
  }
}

.password-subtitle{
  color: rgb(89, 89, 89);
  font-size: 0.875rem;
}

.type-change-button{
  margin-top: 1.5rem;
  display: flex;
  color: rgb(37, 87, 167);
  cursor: pointer;
  width: fit-content;
  user-select: none;
  &:hover{
    color: rgb(22, 64, 129);
  }
}

.type-change-text{
  font-weight: 700;
}

.type-continue-arrow{
  margin-left: 0.5rem;
 font-weight: 700; 
}