@use "../../../../../Assets/scssSharedStyles/global-variables";

.emp-form-fb {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  box-sizing: border-box;
  margin: 0;
}

.dark-blue-color {
  color: global-variables.$dark-blue;
}

.crj-buttons-fb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}