@use "../../../../Assets/scssSharedStyles/global-variables";

.page-with-centered-content-layout{
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  position: relative;
  width: 602px;
  margin: 0 auto;
}

.form-layout{
  display: flex;
  flex-direction: column;
  padding: 0 0.75rem;
}

.edit-contact-form-header{
  display: flex;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: global-variables.$neutral-color-1000;
}

.edit-location-label{
  color: global-variables.$neutral-color-1000;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.edit-location-subtitle{
  color: global-variables.$neutral-color-700;
  margin-bottom: 1.5rem;
}

.edit-form-submit-button-container{
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.submit-form-button{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  min-width: 101px;
  border: none;
  border-radius: 0.5rem;
  background-color: global-variables.$dark-blue;
  cursor: pointer;
  font-weight: 700;
  color: white;
  font-size: 1rem;
  transition: background-color 0.2s;
  &:hover{
    background-color: global-variables.$dark-blue-hover;
  }
  &:active{
    background-color: global-variables.$dark-blue-active;
  }
  &:disabled{
    opacity: 0.7;
  }
}

