@use "../../Assets/scssSharedStyles/global-variables";

.edit-form-field{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.field-label{
  margin-bottom: 0.25rem;
  font-weight: 700;
  cursor: default;
  color: global-variables.$neutral-color-1000;
}

.field-input-container{
  display: flex;
  position: relative;
  border-radius: 0.5rem;
  transition: border-bottom 0.2s;
}

.field-input{
  display: flex;
  flex-grow: 1;
  border-radius: 0.5rem;
  border: 1px solid global-variables.$neutral-color-800;
  padding: 0.75rem;
  background-color: transparent;
  font-size: 1rem;
  &:focus{
    outline: none;
    border-color: global-variables.$dark-blue;
  }
}

.field-focus{
  border-radius: 0.5rem;
  border-bottom: 4px solid global-variables.$dark-blue;
}

.red-field-focus{
  border-color: global-variables.$error-color;
  &:focus{
    border-color: global-variables.$error-color;
  }
}

.field-label-subtitle{
  display: flex;
  margin-bottom:0.25rem;
  font-size: 0.9375rem;
  color: global-variables.$neutral-color-700;
}

.input-field-spacing{
  margin-bottom: 1.5rem;
}

.google-logo{
  position: absolute;
  bottom: 0.1625rem;
  right: 0.1625rem;
  opacity: 0.7;
  max-height: 0.75rem;
  user-select: none;
  z-index: 10;
}

.erase-button-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.25rem;
  top: 0.25rem;
  background-color: white;
}