@use "../../../../Assets/scssSharedStyles/global-variables";

.short-job-description-component-box{
  display: flex;
  position: relative;
  border: 1px solid global-variables.$neutral-color-400;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0.5rem;
}

.job-selected-border{
  border: 1px solid global-variables.$dark-blue;
}

.short-description-content-box{
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
}

.description-content{
  display: flex;
  padding-right: 2.6rem;
  flex-direction: column;
}

.new-job-container{
  display: flex;
  border: 1px solid global-variables.$neutral-color-400;
  width: fit-content;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: #9d2b6b;
}

.job-title{
  display: flex;
  box-sizing: border-box;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: global-variables.$neutral-color-1000;
}

.medium-description-text{
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  letter-spacing: -.06px;
  margin-bottom: 0.25rem;
  color: global-variables.$neutral-color-900;
}

.job-features-info{
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.short-description-content{
  display: flex;
  color: global-variables.$neutral-color-700;
  font-size: 0.933rem;
  margin-bottom: 0.5rem;
}

.short-description-list{
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  padding-left: 1rem;
  list-style-type: circle;
}

.short-description-list li {
  margin-bottom: 0.25rem;
}

.date-posted{
  display: flex;
  font-size: 0.825rem;
  color: global-variables.$neutral-color-700;
}

.more-options-absolute-container{
  position: absolute;
  flex-direction: column;
  top: 0.625rem;
  right: 0.625rem;
  height: 2.75rem;
  width: 2.7rem;
}

.more-options-button{
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  z-index: 2;
  border: none;
  background-color: transparent;
  transition: 0.1s;
  cursor: pointer;
  &:hover{
    background-color: #eef1fe;
  }
  &:active{
    box-shadow: global-variables.$button-inner-shadow;
  }
  font-weight: 100;
  color: global-variables.$neutral-color-900;
}

.more-options-bar {
  position: relative;
}

.more-options-window-absolute-container{
  position: absolute;
  min-width: 12.5rem;
  left: 1.375rem;
}

.more-options-window{
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid global-variables.$neutral-color-200;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.08);
  border-radius: 0.25rem;
  background-color: white;
  z-index: 3;
  cursor: default;
  position: relative;
  color: global-variables.$neutral-color-900;
}

.first-option{
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
  padding-left: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: 0.2s;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  border-radius: 0.25rem;
  color: global-variables.$neutral-color-900;
  &:hover{
    background-color: #eef1fe;
    color: #0d2d5e;
    cursor: pointer;
  }
}

.save-job-text{
  padding-top: 0.125rem;
  font-size: 0.75rem;
}

.short-job-description-component-box:hover .job-title{
  text-decoration: underline;
}