@use "../../../../Assets/scssSharedStyles/global-variables";

.job-search-promo-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.promo-container{
  display: flex;
  position: relative;
}

.promo-lower-container{
  display: flex;
  position: relative;
  padding-top: 0.5rem;
}

.promo-link{
  color: global-variables.$dark-blue;
  font-weight: 700;
  cursor: pointer;
  transition: 0.1s;
  &:hover{
    text-decoration: underline;
    color: global-variables.$dark-blue-hover;
  }
}

.promo-default-text{
  color: global-variables.$neutral-color-900;
}