@use "../../../../Assets/scssSharedStyles/global-variables";


.messages-layout {
  display: flex;
  box-sizing: border-box;
  min-inline-size: 0px;
  min-height: calc(-8rem + 100vh);
  max-height: calc(-8rem + 100vh);
  border-top: 1px solid global-variables.$neutral-color-400;
  border-bottom: 1px solid global-variables.$neutral-color-400;
}

.messages-page-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.conversation-layout {
  flex-basis: 23.75rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin-block: 0px;
  margin-inline: 0px;
  min-inline-size: 0px;
  max-height: 100%;
  background-color: white;
  border-right: 1px solid global-variables.$neutral-color-400;
}

.page-without-scroll {
  height: 100% !important;
}

.emp-conversation-fb {
  margin-right: 0px;
  flex-basis: 50rem;
  position: relative;
  width: auto;
  display: flex;
  flex-grow: 1;
  overflow-y: hidden;
  background-color: white;
}

.conversations-header {
  padding: 1rem;
}

.messages-group-date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messages-group-date-line {
  display: flex;
  flex-grow: 1;
  height: 1px;
  background-color: global-variables.$neutral-color-400;
}

.messages-group-date {
  font-size: 0.825rem;
  font-weight: 700;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: global-variables.$neutral-color-700;
}