@use "../../Assets/scssSharedStyles/global-variables";

.message-box {
  padding-bottom: 1rem;
  min-width: 0px;
}

.sender-info-and-time-box {
  min-width: 0px;
  display: inline-flex;
}

.circle-separator {
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
  color: global-variables.$neutral-color-700;
}