@use "../../Assets/scssSharedStyles/global-variables";

.message-box {
  padding-bottom: 1rem;
}

.message-additional-info-container {
  min-width: 0px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.circle-separator {
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
  color: global-variables.$neutral-color-700;
}

.message-status {
  display: flex;
  justify-content: flex-end;
  font-size: 0.825rem;
  color: global-variables.$neutral-color-700;
}

.sender-info-and-time-container {
  display: inline-flex;
}