@use "../../../../Assets/scssSharedStyles/global-variables";

.emp-jobs-layout {
  min-width: 0px;
  margin: 0px;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.emp-jobs-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-connected-button {
  border-bottom-right-radius: 0rem;
  border-top-right-radius: 0rem;
}

.right-connected-button {
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 0rem;
}


