@use "../../../../Assets/scssSharedStyles/global-variables";

.search-filters-containers{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.param-options-box{
  display: flex;
  position: relative;
  flex-direction: column;
}

.param-options-start{
  position: relative;
}

.param-options-list{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 241px;
  border: 1px solid global-variables.$neutral-color-400;
  border-radius: 0.25rem;
  box-shadow: 0 8px 16px rgba(0,0,0,.08);
  user-select: none;
  z-index: 4;
  background-color: white;
  .param-option:first-child{
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  .param-option:last-child{
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

.param-option{
  display: flex;
  border: none;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
  font-size: 0.935rem;
  line-height: 1.75;
  &:focus-visible{
    outline: 1px auto global-variables.$dark-blue;
  }
  &:hover{
    background-color: global-variables.$light-blue;
  }
}

.filters-results-separator{
  height: 1px;
  margin-top: 2rem;
  background-color: global-variables.$neutral-color-400;
  width: 100%;
}

.pages-navigation-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navigation-button{
  padding: 0.75rem 1rem;
  background-color: global-variables.$neutral-color-300;
  border-radius: 0.5rem;
  cursor: pointer;
  color: global-variables.$neutral-color-900;
  border: none;
  margin-bottom: 1.5rem;
  transition: 0.2s;
  &:hover{
    background-color: global-variables.$neutral-color-400;
  }
  &:active{
    box-shadow: global-variables.$button-inner-shadow;
  }
}

.previous-button{
  margin-right: 1.5rem;
}

.smaller-margin-before-navigation{
  margin-bottom: 1rem;
}