@use "../../../../Assets/scssSharedStyles/global-variables";

.jsb-layout{
  margin: 0 0 36px;
  max-width: 1280px;
  box-sizing: border-box;
  min-width: 0;
}


.jsb-block{
  width: 66%;
  margin-left: 16.66%;
  box-sizing: border-box;
  min-width: 0px;
}

.jsb-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jsb-input-label{
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: global-variables.$neutral-color-1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.jsb-input{
  min-width: 0px;
  font-size: 0.875rem;
  display: flex;
  flex-grow: 1;
}