.page-layout{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header-container{
  display: flex;
  width: 100%;
}

.header-block{
  display: flex;
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid;
  border-color: #e4e2e0;
  justify-content: space-between;
}

.header-right-side{
  display: flex;
}

.sign-in-block{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  min-height: 3rem;
  user-select: none;
  cursor: pointer;
  margin-right: 1rem;
}

.sign-in-button{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 0px solid;
  background-color: white;
  cursor: pointer;
}

.right-side-divider{
  display: flex;
  width: 0.0625rem;
  background-color: #d4d2d0;
  margin: 2rem 0 0;
  height: 1.5rem;
}

.employers-link-block{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  min-height: 3rem;
  user-select: none;
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 1rem;

}

.employers-page-button{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 0px solid;
  background-color: white;
  cursor: pointer;
}

.employers-page-text{
  font-size: 0.9rem;
  color: #2d2d2d;
}

.underline{
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #2557a7;
  left: 0;
  bottom: 0;
}

.home-link-block:hover .underline,
.sign-in-block:hover .underline,
.employers-link-block:hover .underline{
  width: 100%; 
}