@use "../../Assets/scssSharedStyles/global-variables";

.short-job-description-component-box{
  display: flex;
  position: relative;
  border: 1px solid global-variables.$dark-blue;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0.5rem;
}

.short-description-content-box{
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
}

.description-content{
  display: flex;
  padding-right: 2.6rem;
  flex-direction: column;
}

.more-options-box{
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  height: 2.75rem;
  width: 2.7rem;
  border-radius: 0.5rem;
  z-index: 2;
  border: none;
  background-color: transparent;
  transition: 0.1s;
  cursor: pointer;
  &:hover{
    background-color: #eef1fe;
  }
  &:active{
    box-shadow: global-variables.$button-inner-shadow;
  }
  font-size: 1.25rem;
  font-weight: 100;
  color: global-variables.$neutral-color-900;
}

.new-job-container{
  display: flex;
  border: 1px solid global-variables.$neutral-color-400;
  width: fit-content;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  color: #9d2b6b;
}

.job-title{
  display: flex;
  box-sizing: border-box;
  font-size: 1.125rem;
  letter-spacing: -.06px;
  font-weight: 600;
  margin-bottom: 0.25rem;
  color: global-variables.$neutral-color-1000;
}

.medium-description-text{
  display: flex;
  box-sizing: border-box;
  font-size: 1rem;
  letter-spacing: -.06px;
  margin-bottom: 0.25rem;
  color: global-variables.$neutral-color-900;
}

.job-features-info{
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.job-feature{
  background-color: global-variables.$neutral-color-200;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  color: global-variables.$neutral-color-800;
  font-weight: 700;
  font-size: 0.875rem;
  margin-right: 0.25rem;
}

.short-description-content{
  margin-top: 1rem;
  display: flex;
  color: global-variables.$neutral-color-700;
  font-size: 0.933rem;
  margin-bottom: 0.5rem;
}

.date-posted{
  display: flex;
  font-size: 0.825rem;
  color: global-variables.$neutral-color-700;
}