@use "../../Assets/scssSharedStyles/global-variables";

.emh-layout {
  margin: 0;
  min-width: 0px;
  width: 100%;
  border-bottom: 1px solid global-variables.$neutral-color-400;
}

.emh-fb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.emh-logo-block {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: global-variables.$neutral-color-1000;
  font-weight: 700;
  user-select: none;
}

.emh-right-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.emh-separator {
  width: 1px;
  background-color: global-variables.$neutral-color-400;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 2.5rem;
}

.emh-email-block {
  display: flex;
  height: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.emh-user-email {
  max-width: 10rem;
  overflow: hidden;
  text-align: start;
  text-overflow: ellipsis;
}

.emh-more-options-bar {
  position: relative;
  align-self: end;
}

.emh-more-options-block {
  margin: 0rem;
  padding: 0rem;
  position: absolute;
  right: 0;
  top: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid global-variables.$neutral-color-700;
  box-shadow: global-variables.$small-box-shadow;
  padding-top: 1rem;
  width: 23rem;
  font-size: 0.875rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  z-index: 5;
}


.emh-option-container {
  display: flex;
  min-width: 0rem;
  box-sizing: border-box;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.emh-option {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem;
  margin-left: -0.5rem;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  transition: 0.2s;
  font-size: 0.875rem;
  line-height: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: global-variables.$neutral-color-1000;

  &:hover {
    background-color: global-variables.$neutral-color-200;
  }
}