.job-titles-search-container {
  display: flex;
  flex-basis: 30%;
}

.search-job-titles-container {
  display: block;
  width: 30%;
}

.select-window-relative-bar {
  position: relative;
}

.job-titles-select-window {
  width: 100%;
}