@use "../../../../Assets/scssSharedStyles/global-variables";


.create-interview-layout {
  padding: 1rem;
}

.padding-top-remove {
  padding-top: 0rem;
}

.interview-time-fb {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.selected-light-button {
  border: 1px solid;
}

.job-review-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-review-candidate-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: global-variables.$neutral-color-1000;
}

.job-apply-review-header-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 2rem 2rem 0rem 2rem;
}