@use "../../Assets/scssSharedStyles/global-variables";

.job-header-container{
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-bottom: 1px solid global-variables.$neutral-color-400;
  box-shadow: 0 2px 4px #00000014;
}

.job-header-title{
  display: flex;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: global-variables.$neutral-color-1000;
}

.full-header-info{
  display: grid;
  transition: 0.5s ease-in-out;
}

.inner-content-wrapper{
  overflow: hidden;
}

.header-company-name{
  display: flex;
  color: global-variables.$dark-blue;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 0.9375rem;
  &:hover{
    color: global-variables.$dark-blue-hover;
  }
}

.header-job-location{
  display: flex;
  color: global-variables.$neutral-color-700;
  font-size: 0.9375rem;
  margin-bottom: 0.5rem;
}

.header-job-salary{
  display: flex;
  color: global-variables.$neutral-color-900;
  font-size: 0.9375rem;
  margin-bottom: 0.5rem;
}

.short-header-info {
  display: grid;
  flex-direction: row;
  font-size: 0.9375rem;
  color: global-variables.$neutral-color-700;
  margin-bottom: 1rem;
  word-wrap: break-word;
  transition: 0.5s ease-in-out;
}

.short-company-name{
  text-decoration: underline;
  cursor: pointer;
}

.header-job-interactions-box{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.apply-button{
  display: flex;
  margin-right: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #2557a7;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  line-height: 1.5;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.1s;
  cursor: pointer;
  &:hover{
    background-color: global-variables.$dark-blue-hover;
  }
  &:active{
    background-color: global-variables.$dark-blue-active;
  }
}

.save-job-button{
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  width: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
  color: global-variables.$neutral-color-900;
  min-height: 2.75rem;
  &:hover{
    background-color: global-variables.$neutral-color-400;
  }
  &:active{
    background-color: global-variables.$neutral-color-500;
    box-shadow: global-variables.$button-inner-shadow;
  }
}

.saved-job-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  min-height: 2.75rem;
  color: white;
  background-color: global-variables.$neutral-color-800;
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    background-color: global-variables.$neutral-color-400;
  }
}

.drop-down-more-options{
  margin-left: 0.5rem;
  font-size: 1rem;
  margin-right: 0.25rem;
}

.saved-job-heart{
  margin-left: 0.25rem;
}

.saved-job-button-box{
  position: relative;
  display: flex;
  flex-direction: column;
}

.saved-job-more-options{
  position: relative;
}

.saved-job-more-options-container{
  position: absolute;
  background-color: white;
  z-index: 4;
  margin-top: 0.25rem;
  border: 1px solid global-variables.$neutral-color-600;
  box-shadow: global-variables.$field-box-shadow;
  box-sizing: border-box;
  border-radius: 0.5rem;
  min-width: 198px;
}

.applied-button{
  display: flex;
  justify-content: start;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: global-variables.$light-blue;
  }
  width: 100%;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  background-color: transparent;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  color: global-variables.$neutral-color-900;
}

.interviewing-button{
  display: flex;
  justify-content: start;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: global-variables.$light-blue;
  }
  width: 100%;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  background-color: transparent;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: global-variables.$neutral-color-900;
}

.undo-action-box{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 0.9375rem;
  box-sizing: border-box;
  color: global-variables.$dark-blue;
  background-color: global-variables.$neutral-color-200;
}

.action-name{
  cursor: pointer;
  &:active{
    color: red;
  }
}

.undo-button{
  background-color: transparent;
  border: none;
  font-size: 0.9375rem;
  cursor: pointer;
  &:active{
    color: red;
  }
}