body {
  margin: 0;
  font-family: "Noto Sans", Noto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

.svg-inline--fa{
  height: 1.5rem;
}

.small-svg{
  height: 1rem;
  width: 1rem;
}

.medium-svg{
  height: 1.25rem;
  width: 1.25rem;
}

