.ji-job-block{
  display: block;
  width: 100%;
  padding: 1rem 0;
}

.ji-job-layout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ji-job-info-fb{
  flex-basis: 50%;
}

.ji-apply-fb{
  display: flex;
  flex-basis: 40%;
  justify-content: end;
}