$fontFamily :  -apple-system, sans-serif;

.container{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #f3f2f1;
}

.passpage-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.logo-container{
  user-select: none;
  cursor: pointer;
  display: flex;
  margin-bottom: 2rem;
}

.logo{
  font-size: 2rem;
  font-family: $fontFamily;
  font-weight: 700;
  color: rgb(0, 58, 155);
}

.form-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  width: 30rem;
}
.auth-form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(212, 210, 208);
  padding: 1.5rem;
}

.auth-form-title-box{
  display: flex;
  margin-bottom: 0.5rem;
}

.form-title{
  font-family: $fontFamily;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(45, 45, 45);
}

.auth-form-subtitle-box{
  margin-top: 0.5rem;
  display: flex;
  margin-bottom: 0.5rem;
}

.form-subtitle{
  font-family: $fontFamily;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(89, 89, 89);
}

.auth-input-box{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.input-label-box{
  padding-top: 1rem;
  display: flex;
}

.input-label{
  font-family: $fontFamily;
  font-weight: 600;
  line-height: 1.5rem;
  color: rgb(45, 45, 45);
  margin-bottom: 0.25rem;
}

.invalid-text{
  color: rgb(169, 37, 43);
}

.required-mark{
  color: rgb(169, 37, 43);
}

.input-box{
  max-width: 100%;
  padding-bottom: 1.5rem;
}

.email-input-field{
  display: flex;
  max-width: calc(100% - 1rem);
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-color: rgb(45, 45, 45);
}

.invalid-input-border{
  border-color: rgb(169, 37, 43);
  &:focus-visible{
    border-color: rgb(169, 37, 43) !important;
  }
  &:hover{
    border-color: rgb(169, 37, 43) !important;
  }
}

.email-input-field:hover {
  border-color: rgb(63, 115, 211);
}
.email-input-field:focus-visible {
  outline: none;
  border-color: rgb(63, 115, 211);
  border-style: solid;
}

.error-box{
  margin-top: 0.25rem;
}

.error-text{
  color: rgb(169, 37, 43);
}
.error-svg{
  padding-right: 0.25rem;
}

.submit-button{
  background: none rgb(37, 87, 167);
  line-height: 1.5rem; 
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  &:disabled{
    opacity: 0.5;
    cursor: auto;
  }
}


.continue-text{
  color: white;
  font-family: $fontFamily;
  font-weight: 600;
  font-size: 1rem;
}

.continue-arrow{
  margin-left: 0.5rem;
  font-size: 1rem;
  color: white; 
}