@use "../../../../../Assets/scssSharedStyles/global-variables";


.j-pr-content-container {
  display: flex;
  flex-direction: column;
  border: 1px solid global-variables.$neutral-color-300;
  border-radius: 0.5rem;
}

.j-pr-header-container {
  padding: 1rem;
  box-sizing: border-box;
}

.j-pr-full-info-container {
  padding: 1rem 1.5rem;
  max-height: 50vh;
  overflow-y: scroll;
}

.j-pr-features-list {
  list-style-type: circle;
}