@use "../../../../Assets/scssSharedStyles/global-variables";

.select-option {
  box-sizing: border-box;
  padding: 0.875rem 0.5rem;
  font-size: 0.9375rem;
  overflow: hidden auto;
  cursor: pointer;
  display: flex;
  user-select: none;

  &:hover {
    background-color: global-variables.$light-blue;
  }
}