@use "../../../../../Assets/scssSharedStyles/global-variables";

.info-notify-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
}

.notify-container-message-fb {
  display: flex;
  flex-direction: row;
}

