.info-notify-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
}

.notify-container-message-fb {
  display: flex;
  flex-direction: row;
}

.green-notify-container{
  background-color: rgb(228, 247, 230);
  border-color: rgb(173, 223, 179);
}