/* Primary Axis Alignment */
.ai-center{
  display: flex;
  align-items: center !important;
}

.ai-start {
  display: flex;
  align-items: flex-start !important;
}

.ai-end {
  display: flex;
  align-items: flex-end !important;
}

/* Secondary Axis Justification */
.jc-center {
  display: flex;
  justify-content: center !important;
}

.jc-start {
  display: flex;
  justify-content: flex-start !important;
}

.jc-end {
  display: flex;
  justify-content: flex-end !important;
}


.flex-column{
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 0px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 0px;
}