.centralized-content{
  display: flex;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 0px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 0px;
}