/* Margin Top */
.mt1rem {
  margin-top: 1rem !important;
}

.mt05rem {
  margin-top: 0.5rem !important;
}

.mt025rem {
  margin-top: 0.25rem !important;
}

.mt3rem{
  margin-top: 3rem !important;
}

.mt2rem {
  margin-top: 2rem !important;
}

.mt15rem {
  margin-top: 1.5rem !important;
}

.mt075rem {
  margin-top: 0.75rem !important;
}

.mt0 {
  margin-top: 0 !important;
}

/* Margin Bottom */
.mb1rem {
  margin-bottom: 1rem !important;
}

.mb05rem {
  margin-bottom: 0.5rem !important;
}

.mb025rem {
  margin-bottom: 0.25rem !important;
}

.mb3rem{
  margin-bottom: 3rem !important;
}

.mb2rem {
  margin-bottom: 2rem !important;
}

.mb15rem {
  margin-bottom: 1.5rem !important;
}

.mb075rem {
  margin-bottom: 0.75rem !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/* Margin Left */
.ml1rem {
  margin-left: 1rem !important;
}

.ml05rem {
  margin-left: 0.5rem !important;
}

.ml025rem {
  margin-left: 0.25rem !important;
}

.ml3rem{
  margin-left: 3rem !important;
}

.ml2rem {
  margin-left: 2rem !important;
}

.ml15rem {
  margin-left: 1.5rem !important;
}

.ml075rem {
  margin-left: 0.75rem !important;
}

.ml0 {
  margin-left: 0 !important;
}

/* Margin Right */
.mr1rem {
  margin-right: 1rem !important;
}

.mr05rem {
  margin-right: 0.5rem !important;
}

.mr025rem {
  margin-right: 0.25rem !important;
}

.mr3rem{
  margin-right: 3rem !important;
}

.mr2rem {
  margin-right: 2rem !important;
}

.mr15rem {
  margin-right: 1.5rem !important;
}

.mr075rem {
  margin-right: 0.75rem !important;
}

.mr0 {
  margin-right: 0 !important;
}
