/* Margin Top */
.mt1rem{
  margin-top: 1rem;
}

.mt05rem{
  margin-top: 0.5rem;
}

.mt025rem{
  margin-top: 0.25rem;
}
.mt2rem {
  margin-top: 2rem;
}

.mt15rem {
  margin-top: 1.5rem;
}

.mt075rem {
  margin-top: 0.75rem;
}

.mt0 {
  margin-top: 0;
}

/* Margin Bottom */
.mb1rem {
  margin-bottom: 1rem;
}

.mb05rem {
  margin-bottom: 0.5rem;
}

.mb025rem {
  margin-bottom: 0.25rem;
}

.mb2rem {
  margin-bottom: 2rem;
}

.mb15rem {
  margin-bottom: 1.5rem;
}

.mb075rem {
  margin-bottom: 0.75rem;
}

.mb0 {
  margin-bottom: 0;
}

/* Margin Left */
.ml1rem {
  margin-left: 1rem;
}

.ml05rem {
  margin-left: 0.5rem;
}

.ml025rem {
  margin-left: 0.25rem;
}

.ml2rem {
  margin-left: 2rem;
}

.ml15rem {
  margin-left: 1.5rem;
}

.ml075rem {
  margin-left: 0.75rem;
}

.ml0 {
  margin-left: 0;
}

/* Margin Right */
.mr1rem {
  margin-right: 1rem;
}

.mr05rem {
  margin-right: 0.5rem;
}

.mr025rem {
  margin-right: 0.25rem;
}

.mr2rem {
  margin-right: 2rem;
}

.mr15rem {
  margin-right: 1.5rem;
}

.mr075rem {
  margin-right: 0.75rem;
}

.mr0 {
  margin-right: 0;
}
