@use "../../../../Assets/scssSharedStyles/global-variables";

.recent-search-box{
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid global-variables.$neutral-color-300;
  min-height: 64px;
}

.search-info{
  display: flex;
  flex-direction: column;
}

.query-info{
  line-height: 1.5;
  color: global-variables.$neutral-color-1000;
}

.location-info{
  line-height: 1.5;
  color: global-variables.$neutral-color-700;
}

.delete-search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: transparent;
  z-index: 2;
  transition: 0.2s;
  cursor: pointer;
  &:hover{
    background-color: global-variables.$light-blue;
  }
}

.delete-search-svg{
  height: 1.5rem;
  width: 100%;
  font-weight: 100;
  color: global-variables.$neutral-color-800;
}